.parallaxContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.parallaxImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  object-fit: cover;
  background-image: url("https://images.pexels.com/photos/4266932/pexels-photo-4266932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.parallaxText {
  padding: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.parallaxTextHeading {
  font-size: 47px;
  margin-bottom: 20px;
}
.parallaxTextDark {
  color: #eb8f3a;
}
.parallaxTextContent {
  cursor: pointer;
  padding: 0 40px;
  font-size: 18px;
}
